[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "UCR.ColumnNames"]
	path = UCR.ColumnNames
	url = https://github.com/cran/UCR.ColumnNames
[submodule "asciiSetupReader"]
	path = asciiSetupReader
	url = https://github.com/jacobkap/asciisetupreader
[submodule "caesar"]
	path = caesar
	url = https://github.com/jacobkap/caesar
[submodule "crimeutils"]
	path = crimeutils
	url = https://github.com/jacobkap/crimeutils
[submodule "fastDummies"]
	path = fastDummies
	url = https://github.com/jacobkap/fastdummies
[submodule "meditations"]
	path = meditations
	url = https://github.com/jacobkap/meditations
[submodule "predictrace"]
	path = predictrace
	url = https://github.com/jacobkap/predictrace
